@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .background-animation {
    animation: gradient-animation 10s ease infinite;
    background: linear-gradient(45deg, #FF9D6C, #FF3E78, #FF3E78, #FF9D6C);
    background-size: 400% 400%;
  }
  